@import "tailwindcss";

:root {
    --background: #F6F0E3;
    --text: black;
  }
  
  .dark {
    --background: #121212;
    --text: white;
  }
  
  body {
    background: var(--background);
    color: var(--text);
    transition: background 0.3s, color 0.3s;
  }